# Predicting Movie Ratings

Define locations of files

In [1]:
import os
dbfs_dir = '/user/root/ml-20m'
ratings_filename = dbfs_dir + '/ratings.csv'
movies_filename = dbfs_dir + '/movies.csv'

# for windows
if os.path.sep != '/':
    ratings_filename = ratings_filename.replace('/', os.path.sep)
    movies_filename = movies_filename.replace('/', os.path.sep)

## Part 0: Preliminaries

### CPU vs I/O tradeoff

In [2]:
from pyspark.sql.types import *

ratings_df_schema = StructType(
    [StructField('userId', IntegerType()),
     StructField('movieId', IntegerType()),
     StructField('rating', DoubleType())]
)

movies_df_schema = StructType(
    [StructField('ID', IntegerType()),
     StructField('title', StringType())]
)

### Load and Cache

In [3]:
from pyspark.sql.functions import regexp_extract
from pyspark.sql.types import *

raw_ratings_df = (sqlContext
                  .read.format('com.databricks.spark.csv')
                  .options(header=True, inferSchema=False)
                  .schema(ratings_df_schema)
                  .load(ratings_filename))
ratings_df = raw_ratings_df.drop('Timestamp')

raw_movies_df = (sqlContext
                 .read.format('com.databricks.spark.csv')
                 .options(header=True, inferSchema=False)
                 .schema(movies_df_schema)
                 .load(movies_filename))
movies_df = raw_movies_df.drop('Genres').withColumnRenamed('movieID', 'ID')

ratings_df.cache()
movies_df.cache()
assert ratings_df.is_cached
assert movies_df.is_cached
raw_ratings_count = raw_ratings_df.count()
ratings_count = ratings_df.count()
raw_movies_count = raw_movies_df.count()
movies_count = movies_df.count()

print('There are {0} ratings and {1} movies in the datasets'.format(ratings_count, movies_count))
print('Ratings: ')
ratings_df.show(3)
print('Movies: ')
movies_df.show(n=3, truncate=False)

assert raw_ratings_count == ratings_count
assert raw_movies_count == movies_count

There are 20000263 ratings and 27278 movies in the datasets
Ratings:
+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|      2|   3.5|
|     1|     29|   3.5|
|     1|     32|   3.5|
+------+-------+------+
only showing top 3 rows

Movies:
+---+-----------------------+
|ID |title                  |
+---+-----------------------+
|1  |Toy Story (1995)       |
|2  |Jumanji (1995)         |
|3  |Grumpier Old Men (1995)|
+---+-----------------------+
only showing top 3 rows

A quick verification of data.

In [4]:
assert ratings_count == 20000263
assert movies_count == 27278
assert movies_df.filter(movies_df['title'] == 'Toy Story (1995)').count() == 1
assert ratings_df.filter((ratings_df['userId'] == 6) & (ratings_df['movieId'] == 1) & (ratings_df['rating'] == 5.0)).count() == 1

## Part 1: Basic Recommendations
### (1a) Movies with Highest Average Ratings

In [5]:
from pyspark.sql import functions as F

movie_ids_with_avg_ratings_df = (ratings_df
                                 .groupBy('movieId')
                                 .agg(F.count(ratings_df['rating']).alias('count'), F.avg(ratings_df['rating']).alias('average')))
#movie_ids_with_avg_ratings_df = ratings_df.groupBy('movieId').agg(F.count(ratings_df.rating).alias("count"), F.avg(ratings_df.rating).alias("average"))
print('movie_ids_with_avg_ratings_df:')
movie_ids_with_avg_ratings_df.show(n=3, truncate=False)

movie_names_df = movie_ids_with_avg_ratings_df.join(movies_df, F.col('movieId') == F.col('ID'))
movie_ids_with_avg_ratings_df = movie_names_df.select(F.col('average'), F.col('title'), F.col('count'), F.col('movieId'))

print('movie_names_with_avg_ratings_df:')
movie_ids_with_avg_ratings_df.show(n=3, truncate=False)

movie_ids_with_avg_ratings_df:
+-------+-----+------------------+
|movieId|count|average           |
+-------+-----+------------------+
|3997   |2047 |2.0703468490473864|
|1580   |35580|3.55831928049466  |
|3918   |1246 |2.918940609951846 |
+-------+-----+------------------+
only showing top 3 rows

movie_names_with_avg_ratings_df:
+------------------+--------------------------------+-----+-------+
|average           |title                           |count|movieId|
+------------------+--------------------------------+-----+-------+
|2.0703468490473864|Dungeons & Dragons (2000)       |2047 |3997   |
|3.55831928049466  |Men in Black (a.k.a. MIB) (1997)|35580|1580   |
|2.918940609951846 |Hellbound: Hellraiser II (1988) |1246 |3918   |
+------------------+--------------------------------+-----+-------+
only showing top 3 rows

In [6]:
assert movie_ids_with_avg_ratings_df.count() == 26744
movie_ids_with_ratings_take_ordered = movie_ids_with_avg_ratings_df.orderBy('MovieId').take(3)
result = [(r['average'], r['title'], r['count'], r['movieId']) for r in movie_ids_with_ratings_take_ordered]
print(result)
movie_ids_with_ratings_take_ordered = movie_ids_with_avg_ratings_df.orderBy('average', 'title').take(3)
result = [(r['average'], r['title'], r['count'], r['movieId']) for r in movie_ids_with_ratings_take_ordered]
print(result)

[(3.921239561324077, u'Toy Story (1995)', 49695, 1), (3.2119768016904193, u'Jumanji (1995)', 22243, 2), (3.1510404397330194, u'Grumpier Old Men (1995)', 12735, 3)]
[(0.5, u'13 Fighting Men (1960)', 1, 109355), (0.5, u'20 Years After (2008)', 1, 131062), (0.5, u'3 Holiday Tails (Golden Christmas 2: The Second Tail, A) (2011)', 1, 111040)]

### (1b) Movies with Highest Average Ratings and at least 500 Reviews

In [7]:
movies_with_500_ratings_or_more = movie_ids_with_avg_ratings_df.where('count >= 500').orderBy('average',ascending=False)
print('Movies with 500 ratings or more:')
movies_with_500_ratings_or_more.show(truncate=False)

Movies with 500 ratings or more:
+------------------+---------------------------------------------------------------------------+-----+-------+
|average           |title                                                                      |count|movieId|
+------------------+---------------------------------------------------------------------------+-----+-------+
|4.446990499637029 |Shawshank Redemption, The (1994)                                           |63366|318    |
|4.364732196832306 |Godfather, The (1972)                                                      |41355|858    |
|4.334372207803259 |Usual Suspects, The (1995)                                                 |47006|50     |
|4.310175010988133 |Schindler's List (1993)                                                    |50054|527    |
|4.275640557704942 |Godfather: Part II, The (1974)                                             |27398|1221   |
|4.2741796572216   |Seven Samurai (Shichinin no samurai) (1954)                                |11611|2019   |
|4.271333600779414 |Rear Window (1954)                                                         |17449|904    |
|4.263182346109176 |Band of Brothers (2001)                                                    |4305 |7502   |
|4.258326830670664 |Casablanca (1942)                                                          |24349|912    |
|4.256934865900383 |Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                              |6525 |922    |
|4.24807897901911  |One Flew Over the Cuckoo's Nest (1975)                                     |29932|1193   |
|4.247286821705426 |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)|23220|750    |
|4.246001523229246 |Third Man, The (1949)                                                      |6565 |1212   |
|4.235410064157069 |City of God (Cidade de Deus) (2002)                                        |12937|6016   |
|4.2347902097902095|Lives of Others, The (Das leben der Anderen) (2006)                        |5720 |44555  |
|4.233538107122288 |North by Northwest (1959)                                                  |15627|908    |
|4.2326233183856505|Paths of Glory (1957)                                                      |3568 |1178   |
|4.227123123722136 |Fight Club (1999)                                                          |40106|2959   |
|4.224281931146873 |Double Indemnity (1944)                                                    |4909 |3435   |
|4.224137931034483 |12 Angry Men (1957)                                                        |12934|1203   |
+------------------+---------------------------------------------------------------------------+-----+-------+
only showing top 20 rows

## Part 2: Collaborative Filtering

### (2a) Creating a Training Set

In [8]:
seed = 1800009193L
(split_60_df, split_a_20_df, split_b_20_df) = ratings_df.randomSplit([0.6, 0.2, 0.2], seed)
training_df = split_60_df.cache()
validation_df = split_a_20_df.cache()
test_df = split_b_20_df.cache()

In [9]:
print('Training: {0}, validation: {1}, test: {2}'.format(training_df.count(), validation_df.count(), test_df.count()))

Training: 11998949, validation: 4003888, test: 3997426

In [10]:
training_df.show(3)
validation_df.show(3)
test_df.show(3)

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|      2|   3.5|
|     1|     29|   3.5|
|     1|     47|   3.5|
+------+-------+------+
only showing top 3 rows

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|     32|   3.5|
|     1|    253|   4.0|
|     1|    293|   4.0|
+------+-------+------+
only showing top 3 rows

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    112|   3.5|
|     1|    151|   4.0|
|     1|    318|   4.0|
+------+-------+------+
only showing top 3 rows

### (2b) Alternating Least Squares

In [11]:
from pyspark.ml.recommendation import ALS
als = ALS()
als.setMaxIter(5) \
   .setSeed(seed) \
   .setRegParam(0.1) \
   .setUserCol('userId') \
   .setItemCol('movieId') \
   .setRatingCol('rating')
    
from pyspark.ml.evaluation import RegressionEvaluator

reg_eval = RegressionEvaluator(predictionCol='prediction', labelCol='rating', metricName='rmse')
ranks = [4, 8, 12]
errors = [0, 0, 0]
models = [0, 0, 0]
err = 0
min_error = float('inf')
best_rank = -1
for rank in ranks:
    als.setRank(rank)
    model = als.fit(training_df)
    predict_df = model.transform(validation_df)
    predicted_ratings_df = predict_df.filter(predict_df['prediction'] != float('nan'))
    error = reg_eval.evaluate(predicted_ratings_df)
    errors[err] = error
    models[err] = model
    print('For rank {0} the RMSE is {1}'.format(rank, error))
    if error < min_error:
        min_error = error
        best_rank = err
    err += 1
als.setRank(ranks[best_rank])
print('The best model was trained with rank {0}'.format(ranks[best_rank]))
my_model = models[best_rank]

For rank 4 the RMSE is 0.828345386773
For rank 8 the RMSE is 0.816184007672
For rank 12 the RMSE is 0.809510159004
The best model was trained with rank 12

### (2c) Testing Your Model

In [12]:
predict_df = my_model.transform(test_df)
predicted_test_df = predict_df.filter(predict_df['prediction'] != float('nan'))
test_RMSE = reg_eval.evaluate(predicted_test_df)
print('The model had a RMSE on the test set of {0}'.format(test_RMSE))

The model had a RMSE on the test set of 0.809435932161

### (2d) Comparing Your Model

In [13]:
avg_rating_df = training_df.groupBy().avg('rating')
training_avg_rating = avg_rating_df.collect()[0][0]
print('The average rating for movies in the training set is {0}'.format(training_avg_rating))
test_for_avg_df = test_df.withColumn('prediction', F.lit(training_avg_rating))
test_avg_RMSE = reg_eval.evaluate(test_for_avg_df)
print('The RMSE on the average set is {0}'.format(test_avg_RMSE))

The average rating for movies in the training set is 3.52569066674
The RMSE on the average set is 1.05264453981

## Part 3: Predictions for Yourself

### (3a) Your Movie Ratings

In [14]:
print('Most rated movies')
print('average rating, movie name, number of reviews, movie ID')
movies_with_500_ratings_or_more.show(100, truncate=False)

Most rated movies
average rating, movie name, number of reviews, movie ID
+------------------+----------------------------------------------------------------------------------------------------+-----+-------+
|average           |title                                                                                               |count|movieId|
+------------------+----------------------------------------------------------------------------------------------------+-----+-------+
|4.446990499637029 |Shawshank Redemption, The (1994)                                                                    |63366|318    |
|4.364732196832306 |Godfather, The (1972)                                                                               |41355|858    |
|4.334372207803259 |Usual Suspects, The (1995)                                                                          |47006|50     |
|4.310175010988133 |Schindler's List (1993)                                                                             |50054|527    |
|4.275640557704942 |Godfather: Part II, The (1974)                                                                      |27398|1221   |
|4.2741796572216   |Seven Samurai (Shichinin no samurai) (1954)                                                         |11611|2019   |
|4.271333600779414 |Rear Window (1954)                                                                                  |17449|904    |
|4.263182346109176 |Band of Brothers (2001)                                                                             |4305 |7502   |
|4.258326830670664 |Casablanca (1942)                                                                                   |24349|912    |
|4.256934865900383 |Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                                       |6525 |922    |
|4.24807897901911  |One Flew Over the Cuckoo's Nest (1975)                                                              |29932|1193   |
|4.247286821705426 |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)                         |23220|750    |
|4.246001523229246 |Third Man, The (1949)                                                                               |6565 |1212   |
|4.235410064157069 |City of God (Cidade de Deus) (2002)                                                                 |12937|6016   |
|4.2347902097902095|Lives of Others, The (Das leben der Anderen) (2006)                                                 |5720 |44555  |
|4.233538107122288 |North by Northwest (1959)                                                                           |15627|908    |
|4.2326233183856505|Paths of Glory (1957)                                                                               |3568 |1178   |
|4.227123123722136 |Fight Club (1999)                                                                                   |40106|2959   |
|4.224281931146873 |Double Indemnity (1944)                                                                             |4909 |3435   |
|4.224137931034483 |12 Angry Men (1957)                                                                                 |12934|1203   |
|4.2206196581196584|Cosmos (1980)                                                                                       |936  |77658  |
|4.220129171151776 |Dark Knight, The (2008)                                                                             |20438|58559  |
|4.219009123455364 |Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)                      |43295|1198   |
|4.211716774374825 |Yojimbo (1961)                                                                                      |3559 |3030   |
|4.207361186471333 |Big Sleep, The (1946)                                                                               |5529 |1284   |
|4.2041027766266055|All About Eve (1950)                                                                                |4826 |926    |
|4.203809594534383 |Spirited Away (Sen to Chihiro no kamikakushi) (2001)                                                |13466|5618   |
|4.199673416067929 |Chinatown (1974)                                                                                    |15310|1252   |
|4.1977899432279   |Notorious (1946)                                                                                    |4932 |930    |
|4.19707174832642  |Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)                                                |24349|4973   |
|4.193171077504726 |M (1931)                                                                                            |4232 |1260   |
|4.190671901948552 |Star Wars: Episode IV - A New Hope (1977)                                                           |54502|260    |
|4.188943056401923 |To Kill a Mockingbird (1962)                                                                        |14769|1207   |
|4.188202061218635 |Star Wars: Episode V - The Empire Strikes Back (1980)                                               |45313|1196   |
|4.187211791831357 |Maltese Falcon, The (1941)                                                                          |12144|913    |
|4.187185880702848 |Matrix, The (1999)                                                                                  |51334|2571   |
|4.184187016081    |Thin Man, The (1934)                                                                                |3358 |950    |
|4.183632507763387 |Goodfellas (1990)                                                                                   |26406|1213   |
|4.183022467147096 |Touch of Evil (1958)                                                                                |4718 |1248   |
|4.18298969072165  |Black Mirror (2011)                                                                                 |582  |94466  |
|4.181067767274664 |Wallace & Gromit: The Wrong Trousers (1993)                                                         |15022|1148   |
|4.1785467923660615|Memento (2000)                                                                                      |30443|4226   |
|4.17705650958151  |Silence of the Lambs, The (1991)                                                                    |63299|593    |
|4.1767323390413065|Princess Bride, The (1987)                                                                          |32586|1197   |
|4.176724137931035 |Rashomon (Rashômon) (1950)                                                                          |3712 |5291   |
|4.175837188808107 |Life Is Beautiful (La Vita è bella) (1997)                                                          |18156|2324   |
|4.174231169217055 |Pulp Fiction (1994)                                                                                 |67310|296    |
|4.174146075581396 |Monty Python and the Holy Grail (1975)                                                              |33024|1136   |
|4.174122637871192 |City Lights (1931)                                                                                  |2593 |3307   |
|4.173611111111111 |Ran (1985)                                                                                          |4824 |1217   |
|4.173556210639153 |Sting, The (1973)                                                                                   |14926|1234   |
|4.171426401336777 |Philadelphia Story, The (1940)                                                                      |6583 |898    |
|4.170052581261951 |It Happened One Night (1934)                                                                        |4184 |905    |
|4.167315497390872 |Wallace & Gromit: A Close Shave (1995)                                                              |12073|745    |
|4.163536498936924 |On the Waterfront (1954)                                                                            |5644 |1945   |
|4.162769784172662 |General, The (1926)                                                                                 |2224 |3022   |
|4.162102116658588 |Lawrence of Arabia (1962)                                                                           |12378|1204   |
|4.161396702230844 |Treasure of the Sierra Madre, The (1948)                                                            |5155 |1254   |
|4.1596180081855385|Shadow of a Doubt (1943)                                                                            |2199 |2203   |
|4.158614668218859 |Strangers on a Train (1951)                                                                         |5154 |2186   |
|4.158415841584159 |When We Were Kings (1996)                                                                           |3737 |1147   |
|4.156172003137702 |Inception (2010)                                                                                    |14023|79132  |
|4.155933936470536 |American Beauty (1999)                                                                              |44987|2858   |
|4.154010989010989 |Cinema Paradiso (Nuovo cinema Paradiso) (1989)                                                      |9100 |1172   |
|4.1529984623270115|His Girl Friday (1940)                                                                              |3902 |951    |
|4.151207688017504 |American History X (1998)                                                                           |23309|2329   |
|4.150878293601004 |Grand Illusion (La grande illusion) (1937)                                                          |1594 |3134   |
|4.1494807797413005|My Neighbor Totoro (Tonari no Totoro) (1988)                                                        |5489 |5971   |
|4.148006243791684 |Vertigo (1958)                                                                                      |14094|903    |
|4.146604938271605 |Witness for the Prosecution (1957)                                                                  |1620 |5008   |
|4.144328312327083 |Raise the Red Lantern (Da hong deng long gao gao gua) (1991)                                        |3253 |1280   |
|4.143596986817326 |Bicycle Thieves (a.k.a. The Bicycle Thief) (a.k.a. The Bicycle Thieves) (Ladri di biciclette) (1948)|3186 |3089   |
|4.143086816720257 |Modern Times (1936)                                                                                 |3732 |3462   |
|4.14238211356367  |Lord of the Rings: The Return of the King, The (2003)                                               |31577|7153   |
|4.139947437582129 |Song of the Little Road (Pather Panchali) (1955)                                                    |761  |668    |
|4.139729650308551 |Boot, Das (Boat, The) (1981)                                                                        |13612|1233   |
|4.139051432091161 |Jean de Florette (1986)                                                                             |3247 |1131   |
|4.138888888888889 |Nights of Cabiria (Notti di Cabiria, Le) (1957)                                                     |1152 |2351   |
|4.137925065906852 |Lord of the Rings: The Fellowship of the Ring, The (2001)                                           |37553|4993   |
|4.137655906089509 |Great Escape, The (1963)                                                                            |10904|1262   |
|4.136267976148719 |400 Blows, The (Les quatre cents coups) (1959)                                                      |2851 |2731   |
|4.133705693507174 |Blade Runner (1982)                                                                                 |30526|541    |
|4.13259538389072  |Man for All Seasons, A (1966)                                                                       |2123 |1949   |
|4.132395909422937 |Intouchables (2011)                                                                                 |2738 |92259  |
|4.1304433442106445|Citizen Kane (1941)                                                                                 |17774|923    |
|4.130185979971388 |Lady Eve, The (1941)                                                                                |1398 |2935   |
|4.129646256060334 |Duck Soup (1933)                                                                                    |5569 |1256   |
|4.128888888888889 |Thin Blue Line, The (1988)                                                                          |2700 |1189   |
|4.1288777372262775|Stop Making Sense (1984)                                                                            |2192 |2859   |
|4.128545495802133 |Once Upon a Time in the West (C'era una volta il West) (1968)                                       |4407 |1209   |
|4.128504672897196 |Manchurian Candidate, The (1962)                                                                    |8988 |1267   |
|4.124836601307189 |World of Apu, The (Apur Sansar) (1959)                                                              |765  |670    |
|4.1246523388116305|Hustler, The (1961)                                                                                 |3955 |3468   |
|4.124329159212881 |Ikiru (1952)                                                                                        |1118 |6669   |
|4.12325479930192  |Celebration, The (Festen) (1998)                                                                    |2292 |2360   |
|4.123240894039735 |Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)                           |14496|1201   |
|4.120811855670103 |Henry V (1989)                                                                                      |4656 |1224   |
|4.120696324951644 |Creature Comforts (1989)                                                                            |2585 |3429   |
|4.118761552680222 |Out of the Past (1947)                                                                              |1082 |2066   |
|4.11736641221374  |Children of Paradise (Les enfants du paradis) (1945)                                                |1048 |2920   |
+------------------+----------------------------------------------------------------------------------------------------+-----+-------+
only showing top 100 rows

In [15]:
from pyspark.sql import Row
my_user_id = 0
my_rated_movies = [
    (my_user_id, 858, 5),
    (my_user_id, 1221, 5),
    (my_user_id, 7502, 5),
    (my_user_id, 2571, 5),
    (my_user_id, 79132, 5),
    (my_user_id, 7153, 5),
    (my_user_id, 318, 5),
    (my_user_id, 527, 5),
    (my_user_id, 912, 5),
    (my_user_id, 6016, 5)
]

my_ratings_df = sqlContext.createDataFrame(my_rated_movies, ['userId', 'movieId', 'rating'])
print('My movie ratings:')
my_ratings_df.show(10)

My movie ratings:
+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     0|    858|     5|
|     0|   1221|     5|
|     0|   7502|     5|
|     0|   2571|     5|
|     0|  79132|     5|
|     0|   7153|     5|
|     0|    318|     5|
|     0|    527|     5|
|     0|    912|     5|
|     0|   6016|     5|
+------+-------+------+

### (3b) Add Your Movies to Training Dataset

In [16]:
training_with_my_ratings_df = training_df.unionAll(my_ratings_df)
print('The training dataset now has {0} more entries than the original training dataset'.format(training_with_my_ratings_df.count()-training_df.count()))
assert (training_with_my_ratings_df.count()-training_df.count() == my_ratings_df.count())

The training dataset now has 10 more entries than the original training dataset

### (3c) Train a Model with Your Ratings

In [17]:
als.setPredictionCol('prediction') \
   .setMaxIter(5) \
   .setSeed(seed) \
   .setUserCol('userId') \
   .setItemCol('movieId') \
   .setRatingCol('rating')
    
my_ratings_model = als.fit(training_with_my_ratings_df)

### (3d) Check RMSE for the New Model with Your Ratings

In [18]:
my_predict_df = my_ratings_model.transform(test_df)
predicted_test_my_ratings_df = my_predict_df.filter(my_predict_df['prediction'] != float('nan'))
test_RMSE_my_ratings = reg_eval.evaluate(predicted_test_my_ratings_df)
print('The model had a RMSE on the test set of {0}'.format(test_RMSE_my_ratings))

The model had a RMSE on the test set of 0.810968800507

### (3e) Predict Your Ratings

In [19]:
my_rated_movie_ids = [x[1] for x in my_rated_movies]
not_rated_df = movies_df.filter(~ F.col('ID').isin(my_rated_movie_ids))
my_unrated_movies_df = not_rated_df.withColumnRenamed('ID', 'movieId').withColumn('userId', F.lit(my_user_id))
raw_predicted_ratings_df = my_ratings_model.transform(my_unrated_movies_df)
predicted_ratings_df = raw_predicted_ratings_df.filter(raw_predicted_ratings_df['prediction'] != float('nan'))
predicted_with_counts_df = predicted_ratings_df.join(movies_df, F.col('movieId')==F.col('ID'))
predicted_highest_rated_movies_df = predicted_with_counts_df.sort(F.col('prediction').desc())
print('My 25 highest rated movies as predicted (for movies with more than 75 reviews:)')
predicted_highest_rated_movies_df.show(25,False)

My 25 highest rated movies as predicted (for movies with more than 75 reviews:)
+-------+-----------------------------------------------+------+----------+------+-----------------------------------------------+
|movieId|title                                          |userId|prediction|ID    |title                                          |
+-------+-----------------------------------------------+------+----------+------+-----------------------------------------------+
|77736  |Crazy Stone (Fengkuang de shitou) (2006)       |0     |6.0034633 |77736 |Crazy Stone (Fengkuang de shitou) (2006)       |
|121029 |No Distance Left to Run (2010)                 |0     |5.9715695 |121029|No Distance Left to Run (2010)                 |
|3226   |Hellhounds on My Trail (1999)                  |0     |5.9426756 |3226  |Hellhounds on My Trail (1999)                  |
|120134 |Doggiewoggiez! Poochiewoochiez! (2012)         |0     |5.8386703 |120134|Doggiewoggiez! Poochiewoochiez! (2012)         |
|130347 |Bill Hicks: Sane Man (1989)                    |0     |5.760476  |130347|Bill Hicks: Sane Man (1989)                    |
|101538 |Smitty (2012)                                  |0     |5.709902  |101538|Smitty (2012)                                  |
|106353 |Holes in My Shoes (2006)                       |0     |5.6761527 |106353|Holes in My Shoes (2006)                       |
|110173 |Wolf (2013)                                    |0     |5.6067014 |110173|Wolf (2013)                                    |
|129536 |Code Name Coq Rouge (1989)                     |0     |5.5661    |129536|Code Name Coq Rouge (1989)                     |
|122290 |Homeboy (1988)                                 |0     |5.5661    |122290|Homeboy (1988)                                 |
|56869  |Drained (O cheiro do Ralo) (2006)              |0     |5.547534  |56869 |Drained (O cheiro do Ralo) (2006)              |
|116183 |It's Love I'm After (1937)                     |0     |5.483466  |116183|It's Love I'm After (1937)                     |
|81117  |Moth, The (Cma) (1980)                         |0     |5.4830093 |81117 |Moth, The (Cma) (1980)                         |
|99493  |Girl Walk: All Day (2011)                      |0     |5.46113   |99493 |Girl Walk: All Day (2011)                      |
|99243  |Parasites, Les (1999)                          |0     |5.43798   |99243 |Parasites, Les (1999)                          |
|102119 |Yesterday Was a Lie (2008)                     |0     |5.4253054 |102119|Yesterday Was a Lie (2008)                     |
|34464  |Christmas in August (Palwolui Christmas) (1998)|0     |5.422725  |34464 |Christmas in August (Palwolui Christmas) (1998)|
|98328  |Chronicle of My Mother (Waga haha no ki) (2011)|0     |5.3912034 |98328 |Chronicle of My Mother (Waga haha no ki) (2011)|
|112890 |Jimmy's Hall (2014)                            |0     |5.3511305 |112890|Jimmy's Hall (2014)                            |
|111755 |Mile... Mile & a Half (2013)                   |0     |5.342337  |111755|Mile... Mile & a Half (2013)                   |
|116141 |The Russian Novel (2013)                       |0     |5.33062   |116141|The Russian Novel (2013)                       |
|35721  |Cast A Deadly Spell (1991)                     |0     |5.319475  |35721 |Cast A Deadly Spell (1991)                     |
|114931 |Benigni (2009)                                 |0     |5.304007  |114931|Benigni (2009)                                 |
|126723 |Kenny Begins (2009)                            |0     |5.30275   |126723|Kenny Begins (2009)                            |
|81072  |Konopielka (1982)                              |0     |5.2738557 |81072 |Konopielka (1982)                              |
+-------+-----------------------------------------------+------+----------+------+-----------------------------------------------+
only showing top 25 rows